@model WebTNBDGIS.Models.Users

@{
    ViewBag.Title = "Change password";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3 class="page-header">Đổi mật khẩu người dùng</h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.username)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.id)
            @Html.TextBoxFor(model => model.username, new { @readonly = true })
            @Html.ValidationMessageFor(model => model.username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NameDisplay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NameDisplay)
            @Html.ValidationMessageFor(model => model.NameDisplay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pass)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pass)
            @Html.ValidationMessageFor(model => model.pass)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.c_pass)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.c_pass)
            @Html.ValidationMessageFor(model => model.c_pass)
        </div>
        
         <p>
            <input type="submit" value="Đổi mật khẩu" />
            &nbsp |  @Html.ActionLink("Quay lại danh sách", "Index")
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
