@{
    ViewBag.Title = "HỆ THỐNG THÔNG TIN ĐỊA LÝ (GIS) PHỤC VỤ CÔNG TÁC PHÒNG CHỐNG NGẬP LỤT TỈNH BÌNH DƯƠNG";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{
    WebTNBDGIS.Models.UserAccess userAccess = new WebTNBDGIS.Models.UserAccess();

    WebTNBDGIS.Models.userInfor user = userAccess.getInfor(User.Identity.Name);

}

@if (user != null)
{

    <div class="control_item">
        <img src="~/Content/images/Action_Deny_32x32.png" />
        @Html.ActionLink(" Đăng xuất ", "Logout", "AdminAccount", new { userID = user.id, userName = user.username }, null)
    </div>

    <div class="control_item">
        <img src="~/Content/images/Action_Security_ChangePassword_32x32.png" />

        @Html.ActionLink(" Đổi mật khẩu ", "changePass", "AdminAccount", new { userID = user.id, userName = user.username }, null)
    </div>
    <div class="control_item">
        <img src="~/Content/images/BO_MyDetails_32x32.png" />

        @Html.ActionLink(" Đổi thông tin ", "changeInforUser", "AdminAccount", new { userID = user.id, userName = user.username }, null)
    </div>


    if (Request.IsAuthenticated && userAccess.canAccessData(User.Identity.Name, "TimKiem"))
    {
        @*<div class="control_item">
        <img src="~/Content/images/Action_Printing_Preview_32x32.png" />
        @Html.ActionLink(" Tìm kiếm duy tu ", "Index", "AdminDuyTu", null, null)
    </div>
        }
        ////////////////////////////////////////////////////////

        if (Request.IsAuthenticated && userAccess.canAccessData(User.Identity.Name, "XuatExcel"))
        {
        <div class="control_item">
            <img src="~/Content/images/Action_Export_ToExcel_32x32.png" />
            @Html.ActionLink(" Xuất thông tin cống", "exportExcelCong", "AdminExportExcel", null, null)
        </div>
        }
        ////////////////////////////////////////////////////////



        if (Request.IsAuthenticated && userAccess.canAccessData(User.Identity.Name, "AddFile"))
        {

        <div class="control_item">
            <img src="~/Content/images/Action_Export_ToExcel_32x32.png" />
        </div> *@
        <div class="control_item">
            <img src="~/Content/images/video_32_32.png" />
            @Html.ActionLink(" Quản lý Video", "Index", "AdminVideo", null, null)
        </div>
    }

    ////////////////////////////////////////////////////////


    if (Request.IsAuthenticated && userAccess.canAccessData(User.Identity.Name, "QuanTriNguoiDung"))
    {
        <div class="control_item">
            <img src="~/Content/images/BO_Department_32x32.png" />
            @Html.ActionLink("Quản lý nhóm người dùng ", "Index", "AdminGroupUser", null, null)
        </div>
    }
    if (Request.IsAuthenticated && userAccess.canAccessData(User.Identity.Name, "QuanTriNguoiDung"))
    {
        <div class="control_item">
            <img src="~/Content/images/addGroup.png" />
            @Html.ActionLink("Thêm mới nhóm người dùng", "Create", "AdminGroupUser", null, null)
        </div>
    }
    if (Request.IsAuthenticated && userAccess.canAccessData(User.Identity.Name, "QuanTriNguoiDung"))
    {
        <div class="control_item">
            <img src="~/Content/images/BO_Customer_32x32.png" />
            @Html.ActionLink("Quản lý người dùng ", "Index", "AdminUsers", null, null)
        </div>
    }
    if (Request.IsAuthenticated && userAccess.canAccessData(User.Identity.Name, "QuanTriNguoiDung"))
    {
        <div class="control_item">
            <img src="~/Content/images/BO_Lead_32x32.png" />
            @Html.ActionLink("Thêm mới người dùng", "Create", "AdminUsers", null, null)
        </div>
    }

    @*if (Request.IsAuthenticated && userAccess.canAccessData(User.Identity.Name, "QuanTriNguoiDung"))
    {
        <div class="control_item">
            <img src="~/Content/images/Action_OrganizeDashboard_32x32.png" />
            @Html.ActionLink(" Thiết lập thông số kết nối", "QuanTri", "AdminHome", null, null)
        </div>
    }*@
    ////////////////////////////////////////////////////////

}