@{
    ViewBag.Title = "HỆ THỐNG THÔNG TIN ĐỊA LÝ (GIS) PHỤC VỤ CÔNG TÁC PHÒNG CHỐNG NGẬP LỤT";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{
    WebTNBDGIS.Models.UserAccess userAccess = new WebTNBDGIS.Models.UserAccess();

    WebTNBDGIS.Models.userInfor user = userAccess.getInfor(User.Identity.Name);

}

@if (user != null)
{

    <div class="control_item">
        <img src="~/Content/images/Action_Deny_32x32.png" />
        @Html.ActionLink(" Đăng xuất ", "Logout", "AdminAccount", new { userID = user.id, userName = user.username }, null)
    </div>

    <div class="control_item">
        <img src="~/Content/images/Action_Security_ChangePassword_32x32.png" />

        @Html.ActionLink(" Đổi mật khẩu ", "changePass", "AdminAccount", new { userID = user.id, userName = user.username }, null)
    </div>
    <div class="control_item">
        <img src="~/Content/images/BO_MyDetails_32x32.png" />

        @Html.ActionLink(" Đổi thông tin ", "changeInforUser", "AdminAccount", new { userID = user.id, userName = user.username }, null)
    </div>

    if (Request.IsAuthenticated && userAccess.canAccessData(User.Identity.Name, "QuanTriNguoiDung"))
    {
        <div class="control_item">
            <img src="~/Content/images/BO_Department_32x32.png" />
            @Html.ActionLink("Quản lý nhóm người dùng ", "Index", "AdminGroupUser", null, null)
        </div>
    }
    if (Request.IsAuthenticated && userAccess.canAccessData(User.Identity.Name, "QuanTriNguoiDung"))
    {
        <div class="control_item">
            <img src="~/Content/images/addGroup.png" />
            @Html.ActionLink("Thêm mới nhóm người dùng", "Create", "AdminGroupUser", null, null)
        </div>
    }
    if (Request.IsAuthenticated && userAccess.canAccessData(User.Identity.Name, "QuanTriNguoiDung"))
    {
        <div class="control_item">
            <img src="~/Content/images/BO_Customer_32x32.png" />
            @Html.ActionLink("Quản lý người dùng ", "Index", "AdminUsers", null, null)
        </div>
    }
    if (Request.IsAuthenticated && userAccess.canAccessData(User.Identity.Name, "QuanTriNguoiDung"))
    {
        <div class="control_item">
            <img src="~/Content/images/BO_Lead_32x32.png" />
            @Html.ActionLink("Thêm mới người dùng", "Create", "AdminUsers", null, null)
        </div>
    }


    if (Request.IsAuthenticated && userAccess.canAccessData(User.Identity.Name, "AddFile"))
    {
        <div class="control_item">
            <img src="~/Content/images/video_32_32.png" />
            @Html.ActionLink(" Quản lý link bản đồ", "Index", "AdminLinkMap", null, null)
        </div>
    }

    ////////////////////////////////////////////////////////

}
else
{
    Response.Redirect("~/AdminAccount/Login");
}