@{ ViewBag.Title = "Bản đồ"; Layout = "~/Views/Shared/_Layout.cshtml"; }
@section css {
    <link rel="stylesheet" href="//js.arcgis.com/3.25/esri/css/esri.css">
    <link rel="stylesheet" href="//js.arcgis.com/3.25/dijit/themes/claro/claro.css" />
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="@Url.Action(" Index ")">Trang chủ</a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" id="home">
                        <i class="fa fa-home"></i>&nbsp; Mặc định
                    </a>
                </li>
                <li>
                    <a href="#" id="listLayerButton">
                        <i class="fa fa-reorder"></i>&nbsp;Lớp dữ liệu
                    </a>
                </li>
                <li>
                    <a href="#" id="legendLayerButton">
                        <i class="fa fa-map-signs"></i>&nbsp;Chú giải
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-search"></i>&nbsp;Tìm kiếm và thống kê
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id="search-layers"></ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-link"></i>&nbsp;Mưa vệ tinh
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://chrsdata.eng.uci.edu/" target="_blank">Data Portal</a>
                        </li>
                        <li>
                            <a href="https://www.ventusky.com/" target="_blank">Ventusky</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-download"></i>&nbsp;Xuất định dạng KML
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id="download-kml-layers"></ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-edge"></i>&nbsp;Website liên kết
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://www.binhduong.gov.vn/" target="_blank">UBND Tỉnh Bình Dương</a>
                        </li>
                        <li>
                            <a href="http://stnmt.binhduong.gov.vn/3cms/" target="_blank">Sở Tài nguyên và Môi trường Bình Dương</a>
                        </li>
                        <li>
                            <a href="http://sgtvt.binhduong.gov.vn/ " target="_blank">Sở Giao thông vận tải Bình Dương</a>
                        </li>
                        <li>
                            <a href="http://sonongnghiep.binhduong.gov.vn/" target="_blank">Sở Nông nghiệp và phát triển nông thôn Bình Dương</a>
                        </li>
                        <li>
                            <a href="http://binhduongsmartcity.vn/" target="_blank">Bình Dương SmartCity</a>
                        </li>
                        <li>
                            <a href="http://atlas.binhduong.gov.vn/MAP/BDT/Atlas/index.php" target="_blank">Atlas Bình Dương</a>
                        </li>
                        <li>
                            <a href="http://sokhcn.binhduong.gov.vn/" target="_blank">Sở Khoa học và Công nghệ Bình Dương</a>
                        </li>
                        <li>
                            <a href="http://lhhkhktbinhduong.vn/" target="_blank">Liên hiệp các hội Khoa học và Kỹ thuật Bình Dương</a>
                        </li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-wrench"></i>&nbsp;Công cụ
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" id="locationButton">
                                <i class="fa fa-street-view"></i>&nbsp;Định vị
                            </a>
                        </li>
                        <li>
                            <a href="#" id="printButton">
                                <i class="fa fa-print"></i>&nbsp;In ấn
                            </a>
                        </li>
                        <li>
                            <a href="#" id="distanceButton">
                                <i class="fa fa-magic"></i>&nbsp;Đo đạc
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index","Videos")" target="_blank">
                        <i class="fa fa-video"></i>&nbsp;Xem video
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","CapNhatThongTinNgap")" target="_blank">
                        <i class="fa fa-video"></i>&nbsp;Cập nhật thông tin ngập
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","BanDoNgap")" target="_blank">
                        <i class="fa fa-video"></i>&nbsp;Bản đồ ngập
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","AdminHome",new { area="admin" })">
                        Quản trị
                    </a>
                </li>
                <li class="dropdown">
                    @{
                        string user = User.Identity.Name;
                    }
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@user <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="color:#1c046f;" href="@Url.Action("Logout","Home")">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="navToolbar" data-dojo-type="dijit/Toolbar">
    <div data-dojo-type="dijit/form/Button" id="zoomfullext" data-dojo-props="iconClass:'zoomfullextIcon'"></div>
    <div data-dojo-type="dijit/form/Button" id="zoomin" data-dojo-props="iconClass:'zoominIcon'"></div>
    <div data-dojo-type="dijit/form/Button" id="zoomout" data-dojo-props="iconClass:'zoomoutIcon'"></div>
    <div data-dojo-type="dijit/form/Button" id="zoomprev" data-dojo-props="iconClass:'zoomprevIcon'"></div>
    <div data-dojo-type="dijit/form/Button" id="zoomnext" data-dojo-props="iconClass:'zoomnextIcon'"></div>
    <div data-dojo-type="dijit/form/Button" id="pan" data-dojo-props="iconClass:'panIcon'"></div>
    <div data-dojo-type="dijit/form/Button" id="deactivate" data-dojo-props="iconClass:'deactivateIcon'">
    </div>
</div>
<div id="mapDiv">
</div>
<div class="panel-widget">
    <div id="homeButton"></div>
    <div id="LayerList" class="panel-group panel-info left_panel1">
        <div class="headerLeftPanel">
            Lớp dữ liệu
        </div>
        <div id="LayerList_Content"></div>
    </div>
    <div id="LayerLegend" class="panel-group panel-info left_panel1">
        <div class="headerLeftPanel">
            Chú giải lớp dữ liệu
        </div>
        <div id="legendDiv" class="content-panel">
            <div id="legendDiv">
            </div>
        </div>

    </div>
    <div class="panel-group panel-info left_panel1" id="search-tool">
        <div class="headerLeftPanel" id="title-search">
            Lớp dữ liệu
        </div>
        <div class="content-panel">
            <div id="query-fields-widget">
            </div>
        </div>

    </div>
    <div id="PrintPanel" class="panel-group panel-info left_panel1">
        <div class="headerLeftPanel">
            In ấn dữ liệu bản đồ
        </div>
        <div class="content-panel">
            <div id="print_button"></div>
        </div>
    </div>
    <div id="DistancePanel" class="panel-group panel-info left_panel1">
        <div class="headerLeftPanel">
            Đo khoảng cách
        </div>
        <div class="content-panel">
            <div id="DistancePanel_Content">
            </div>
        </div>
    </div>

</div>
<div id="chartNode" class="left_panel1"></div>

@section scripts {
    <script src="https://js.arcgis.com/3.25/"></script>
    <script src="~/Scripts/ditagis/map.js"></script> }