<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/default.css" rel="stylesheet" />
    <link href="~/Content/css/admin.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    @Styles.Render("~/Content/css/styles")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   
    <div id="web_head">
    <div class="header-navbar">
            <div class="header-logo">
                <a class="logo" href="http://s//">
                    <img src="/Content/images/logo.png" alt="logoBD">
                </a>
            </div>
            <div class="header-title">
                <div class="big-title"> HỆ THỐNG THÔNG TIN ĐỊA LÝ (GIS)</div>
                <div class="small-title">
                    <br class="moblie" style="display: none;">PHỤC VỤ CÔNG TÁC PHÒNG CHỐNG NGẬP LỤT TỈNH BÌNH DƯƠNG</div>
            </div>
    </div>
    </div>
  @{
         WebTNBDGIS.Models.UserAccess userAccess = new WebTNBDGIS.Models.UserAccess();

         WebTNBDGIS.Models.userInfor user = userAccess.getInfor(User.Identity.Name);

         string name = " người dùng ";
    }
    
    <div id="web_bot">
        <div class="has" style="padding: 15px 7px 7px;"> 
            @if( user != null)
            {
                name = user.NameDisplay;
            }
                Xin chào : @name >>
            
           <a href="@Url.Action("Map","Home",new { Area = "" })" title="Xem bản đồ"> Xem bản đồ </a> |
           @Html.ActionLink("Quản trị", "Index", "AdminHome", null, null)
        </div>
    </div>

    @if (TempData["message"] != null)
        {
            if (TempData["messageType"] == "inf")
            {
            <div style="margin-top: 10px;">
                <div class="message_info">
                    <div class="info">
                        @Html.Raw(@HttpUtility.HtmlDecode((string)@TempData["message"]))
                    </div>

                </div>
            </div>
            }
            else
            {
            <div style="margin-top: 10px;">
                <div class="message_error">
                    <div class="error">
                        @Html.Raw(@HttpUtility.HtmlDecode((string)@TempData["message"]))
                    </div>

                </div>
            </div>
            }

        }

    <div class="content_page">
    @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
