@model WebTNBDGIS.Areas.Admin.Models.AdminAccount
<script src="~/Scripts/libs/jquery-1.10.2.js"></script>
<script src="~/Scripts/libs/jquery.validate.min.js"></script>
<script src="~/Scripts/libs/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/css/admin.css" rel="stylesheet" />
<link href="~/Content/css/login.css" rel="stylesheet" />
<script type="text/javascript">
    window.history.forward();
</script> 
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                @using (Html.BeginForm())
                {
                    <fieldset class="field-login">
                        <legend></legend>
                        <h3 class="cover-heading">Đăng nhập vào hệ thống</h3>
                        @Html.ValidationSummary(true)
                        <div class="col_full">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.username)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.username, new { @autocomplete="off", @autocorrect="off", @autocapitalize="off" ,@spellcheck="false"  })
                                <br />
                                @Html.ValidationMessageFor(model => model.username)
                            </div>
                        </div>
                        
                        <div class="col_full">
                            <div class="editor-label">
                            @Html.LabelFor(model => model.pass)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.pass)<br />
                                @Html.ValidationMessageFor(model => model.pass)
                            </div>
                        </div>
                       
                        <div class="col_full">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.isRemember)
                                @Html.LabelFor(model => model.isRemember)
                                @Html.ValidationMessageFor(model => model.isRemember)
                            </div>
                        </div>
                        <span class="col_full">
                            <input type="submit" value="Đăng nhập" />
                        </span>
                    </fieldset>
                }

            </div>
        </div>
    </div>
</div>

